@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.flex {
	display: flex;
}

.text-center {
	text-align: center;
}

.br {
	border-right: 3px solid #000;
}

.m-0 {
	margin: 0 !important;
}

.container-custom {
	padding-right: 4vw;
	padding-left: 4vw;
	padding-top: 6.5rem;
	padding-bottom: 7rem;
}

.link-dark {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	font-size: 1.5rem;
}

body {
	background-color: #fff;
	font-family: 'Mabry pro', sans-serif;
	line-height: 22px !important;
	font-weight: 400;
	margin: 0px;
}

p {
	font-size: 1.5rem;
	line-height: 1.3;
	letter-spacing: -0.01em;
}

h1 {
	font-size: 4.5rem;
	margin: 0;
	font-weight: 400;
	line-height: 1.1;
}

h3 {
	font-size: 3.25rem;
	margin: 0;
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -0.01em;
}

h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2rem;
	line-height: 1.25;
	font-weight: 400;
	letter-spacing: -0.02em;
}

section {
	position: relative;
	border-bottom: 3px solid #000;
}

.section-half {
	position: relative;
	width: 50%;
	max-width: 50%;
}

.section-intro {
	width: 65vw;
	margin: 3.5rem auto 2.5rem auto;
}

.nav {
	border-bottom: 2px solid #000;
	width: 100%;
	max-width: 100%;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	padding-right: 0vw;
	padding-left: 2vw;
}

.nav-brand {
	color: #333333;
	font-size: 2.5rem;
	font-weight: 600;
}

.nav a {
	text-decoration: none;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	padding: 0px;
	color: #000;
	font-size: 1.1rem;
}

.nav-secondary {
	padding: 1.5rem 3vw;
	background-color: #000;
	border-left: 2px solid #000;
}

.nav-secondary:hover {
	background-color: #ff90e8;
	color: #000;
	cursor: pointer;
}

.nav-secondary .nav-button {
	margin-right: 0vw;
	margin-left: 0vw;
	color: #fff;
}

.centered {
	display: flex;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	align-items: center;
}

.hero {
	background: #9059ff top/cover no-repeat url('bg-1.svg');
	background-attachment: fixed;
}

.hero-container {
	margin: 0 auto;
	max-width: 1152px;
	padding: 96px 80px;
}

.card {
	border: 3px solid #000;
}

.card-img {
	width: 50%;
	box-shadow: 14px 14px 0 #000;
}

.card-1 {
	padding: 48px;
	background-color: #fff;
	/* border: 3px solid #000; */
	box-shadow: 14px 14px 0 #ffdfe7;
}

.card-1-alt {
	padding: 48px;
	background-color: #fff;
	/* border: 3px solid #000; */
	box-shadow: 14px 14px 0 #321c64;
}

.card-2 {
	padding: 48px;
	background-color: #ffea80;
	/* border: 3px solid #000; */
	box-shadow: 14px 14px 0 #000;
}